<div class="row" id="featuresHeading">
    <div class="col-12">
        <h2 style="font-family:Arial">All Ontario Real Estate Services</h2>
        <p class="lead"></p>
    </div>
</div>


<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ARCHITECTS</h3>
            </div>
            <%= image_tag("architect.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/arquitects" target="_self" class="btn btn-default">Search</a>
        </div>
    </div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">AIR CONDITIONER/ HEATING / VENTILATION</h3>
            </div>
             <%= image_tag("airconditioner.png", :size => "85x85", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/airconditioners" target="_self" class="btn btn-default">Search</a>
        </div>
</div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ASPHALT COMPANIES</h3>
            </div>
              <%= image_tag("ASPHALT.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/asphalts" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">BANKS</h3>
            </div>
             <%= image_tag("privatebank.png", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/privatebanks" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">BUILDERS</h3>
            </div>
            
             <%= image_tag("builder.jpg", :size => "100x100", :alt => "CashBuyer", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">BUILDING MATERIALS</h3>
            </div>
             <%= image_tag("buildingmaterial.jpg", :size => "100x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/customcabinets" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CASH BUYERS</h3>
            </div>
             <%= image_tag("cashbuyer.png", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/privatebanks" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CABINETS</h3>
            </div>
            
             <%= image_tag("customcabinets.png", :size => "100x100", :alt => "CashBuyer", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/cashbuyers" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CEMENT AND CONCRETE</h3>
            </div>
             <%= image_tag("cement.jpg", :size => "100x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/customcabinets" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CLEANING SERVICES</h3>
            </div>
             <%= image_tag("cleaning.png", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/countertops" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">COUNTERTOP AND SURFACES</h3>
            </div>
             <%= image_tag("countertop.jpg", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/drywalls" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        
            <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">CLEANING REMOVAL WASTE</h3>
            </div>
             <%= image_tag("removal.png", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/drywalls" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">DECKS AND FENCES</h3>
            </div>
             <%= image_tag("fences.png", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/countertops" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">DRYWALL</h3>
            </div>
             <%= image_tag("drywall.jpg", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/drywalls" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ELECTRICIANS</h3>
            </div>
             <%= image_tag("electrician.png", :size => "100x100", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/framings" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">EAVESTROUPHINGS</h3>
            </div>
             <%= image_tag("eavestrouphing.jpg", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/countertops" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">EXTERIOR DESIGNERS</h3>
            </div>
             <%= image_tag("exterior.png", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/drywalls" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ENGINEERS</h3>
            </div>
             <%= image_tag("engineer.jpg", :size => "100x100", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/framings" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">FLOORING</h3>
            </div>
             <%= image_tag("flooring.jpg", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/floorings" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">FRAMING</h3>
            </div>
             <%= image_tag("framing.jpg", :size => "100x100", :alt => "GeneralContractor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/generalcontractors" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">FOUNDATION (NEW + REPAIRS)</h3>
            </div>
             <%= image_tag("foundationrepair.png", :size => "100x100", :alt => "Homeinspector", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/homeinspectors" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">FIREPLACE / CHIMNEG</h3>
            </div>
             <%= image_tag("fireplace.png", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/floorings" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">GENERAL CONTRACTORS</h3>
            </div>
             <%= image_tag("generalcontrator.jpg", :size => "100x100", :alt => "GeneralContractor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/generalcontractors" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HOME INSPECTORS</h3>
            </div>
             <%= image_tag("homeinspector.png", :size => "100x100", :alt => "Homeinspector", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/homeinspectors" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HARDMONEY LENDERS</h3>
            </div>
             <%= image_tag("hardmoneylender.jpg", :size => "100x100", :alt => "Hardmoney", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/hardmoneylenders" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">HOME THEATERS</h3>
            </div>
             <%= image_tag("home.jpg", :size => "100x100", :alt => "InteriorDesing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/interiordesigners" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">INSULATION</h3>
            </div>
            <%= image_tag("insulation.png", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/insulations" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">INTERIOR DESIGNERS</h3>
            </div>
             <%= image_tag("interior.jpg", :size => "100x100", :alt => "Hardmoney", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/hardmoneylenders" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WOOD / VINYL / ALUMINUM</h3>
            </div>
             <%= image_tag("wood.jpg", :size => "100x100", :alt => "InteriorDesing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/interiordesigners" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">LIGHTING STORES FIXTURES/FANS</h3>
            </div>
            <%= image_tag("lighting.jpg", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/insulations" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">LANDSCAPING</h3>
            </div>
             <%= image_tag("landscaping.png", :size => "120x100", :alt => "Landscaping", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/landscapings" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">LAND SURVEYORS</h3>
            </div>
             <%= image_tag("landsurveyors.png", :size => "120x100", :alt => "LandSurveyor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/landsurveyors" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">MOVING COMPANIES</h3>
            </div>
             
             <%= image_tag("movincompany.jpg", :size => "120x100", :alt => "Moving", :style =>"margin-right:25px; margin-top:10px;" ) %>
            
            <p></p>
            <a href="/movincompanies" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">MORTGAGE BROKERS</h3>
            </div>
              <%= image_tag("mortagagebrokers.png", :size => "120x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/mortgages" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">MOLD INSPECTORS</h3>
            </div>
             <%= image_tag("moldinspector.png", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/molds" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PAINTING</h3>
            </div>
             
             <%= image_tag("painting.png", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/paintings" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PLUMBING</h3>
            </div>
             <%= image_tag("plumbing.jpg", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/plumbings" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PRIVATE ACCESEMENT FIRMS</h3>
            </div>
             <%= image_tag("privateaccesementfirms.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
             
            <p></p>
            <a href="/privatefirms" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">PROPERTY MANAGEMENT FIRMS</h3>
            </div>
             <%= image_tag("propertymanagementfirms.png", :size => "100x84", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/propertymanagementfirms" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">POOL CLEANERS</h3>
            </div>
             <%= image_tag("poolcleaner.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/poolcleaners" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">POOL REPAIRS</h3>
            </div>
             <%= image_tag("poolrepair.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/poolrepairs" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REALTORS</h3>
            </div>
             <link><a href="/securities">
             <%= image_tag("realtors.png", :size => "100x100", :alt => "Realtors", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/realtors" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REAL ESTATE ACCOUNTANTS</h3>
            </div>
             <%= image_tag("realestateaccounts.png", :size => "100x100", :alt => "Accountants", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/accountants" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REAL ESTATE LAWYERS</h3>
            </div>
              <%= image_tag("realestatefirms.jpg", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/lawyers" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REAL ESTATE FIRMS</h3>
            </div>
            <%= image_tag("realestatefirms.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/real_estatefirms" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">RENTAL PROPERTIES FIRMS/MANAGEMENT</h3>
            </div>
             <%= image_tag("rental.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/rentalproperties" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">REMODEL / RENOVATION SPECIALISTS</h3>
            </div>
             <link><a href="/windows">
              <%= image_tag("remodel.jpeg", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/securities" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ROOFING</h3>
            </div>
             <%= image_tag("roofing.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/septics" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SECURITY COMPANIES</h3>
            </div>
             <%= image_tag("securitycompany.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/rentalproperties" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SEPTIC SPECIALISTS</h3>
            </div>
             <link><a href="/windows">
              <%= image_tag("septic.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/securities" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SOLAR SCREENS/WINDOW TREATMENT</h3>
            </div>
             <%= image_tag("windowstreatment.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/septics" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">STAGING COMPANIES</h3>
            </div>
              <%= image_tag("staging.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/solarscreens" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SOFFIT FACIA</h3>
            </div>
             <%= image_tag("soffit.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/stagings" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SPA POOLS SALES/INSTALERS/REPAIRS</h3>
            </div>
             <%= image_tag("poolspa.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/taxspecialists" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SOLAR ENERGY</h3>
            </div>
              <%= image_tag("solar.jpg", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/solarscreens" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SENIOR OR DISSABLED PEOPLE HOME OR OFFICE EQUIPMENT</h3>
            </div>
             <%= image_tag("senior.jpg", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/stagings" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TAX SPECIALIST</h3>
            </div>
             <%= image_tag("taxspecialist.png", :size => "140x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/taxspecialists" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TERMITE INSPECTORS</h3>
            </div>
             <%= image_tag("termiteinspector.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/termiteinspectors" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">TITLE COMPANIES</h3>
            </div>
             <%= image_tag("titlecompany.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/titlecompanies" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WINDOWS MANUFACTURERS AND INSTALLERS</h3>
            </div>
             <%= image_tag("window.png", :size => "120x84", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/windows" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">WEATHER PROOFING / WINTERIZING</h3>
            </div>
              <%= image_tag("weatherproof.jpg", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <a href="/solarscreens" target="_self" class="btn btn-default">Search</a>
        </div>
        </div>
        <div class="col-md-4 feature">
        
        </div>
         <div class="col-md-4 feature">
       
        </div>
</div>
